table {
    border-collapse: collapse;
}

th {
    background-color: #a6a6a6;
    border-bottom: 3px double black;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

tr:nth-child(odd) {
    background-color: #cccccc;
}

tr:last-child {
    border-bottom: 2px solid black;
}

